*{
    margin: 0;
    padding: 0;
} 
nav{
    background-color: black;
    color:gray;
    padding:15x;
   
    
}
li,h1,ul{
    display:inline;
     
}
ul{
    margin-left: 60%;
}
li:hover{
    background-color: black;
    color:white;
    cursor: pointer;
    }
    .search{
        
        padding: 50px;
        
        text-align: center;
    }
    .search input{
        padding: 10px;
        width: 300px;
    }
    .box{
        border-style:solid;
        border-width: 20px;
        border-color: black;
        display:inline-block;
        width: 400px;
    }
    box.hover{
        background-color: black;
        color:white;
        cursor: pointer;
    }
    .products{
        text-align:center;
    }
    .about{
        margin-top: 30px;
        padding: 20px;
        text-align:center;
    }
    .contact{
        background-color: black;
        color:white;
        padding: 20px;
    }